
body{
    background-color: black;
    color: white;
}

.container{
   text-align: center;
   margin-top: 10%;
}

button{
    width: 5.5em;
    height: 2.2em;
    border: none;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.iniciar-bnt{
    background-color: green;
}

.pausar-bnt{
    background-color: rgb(172, 172, 172);
}

.parar-bnt{
    background-color: red;
}